
<div id='menu_container' class='col-lg-12 text-center'>
    <div class='row page_header'>
        <i class='fa fa-flask fa-5x side_one'></i> &nbsp;<span class='side_two'>Sandbox</span>
    </div>

    <p class='lead'><strong>My place for code samples and general tinkering.</strong></p>

    <p class='lead text-center'>
        Code Samples Coming Soon
    </p>

    <hr class='with_padding'/>

    <div class='well col-lg-8 col-lg-offset-2'>
        <div id='di_fm_header' class='text-center logo_text_med'>
            <span class='side_one'>I</span> <span class='side_two'><3</span> <span class='side_one'>DiFM</span>
        </div>

        <div>
          I originally put this together as an easy way to save song info from Digitally Imported.
        </div>
        <div>
          This is a nearly-functional version of the code, except that tracks aren't saved to a database here.
        </div>

        <h4>Grab Track History From DI.fm</h4>

        <div id='di_errors'></div>

        <form id='di_track_form' class='form-horizontal' action=''>
            <div id='di_channel_select'></div><br />
            <input type='submit' value='Get Recent Track List' />
        </form>

        <br />

        <div id='di_track_list'></div>

        <br />

        <%#= link_to 'View Saved Tracks', saved_tracks_url, :class => 'page-nav-links' %>
   </div>
</div>

<div id='track_table' class='row'>
  <div class="col-lg-10 col-lg-offset-2">
    <h1 class="side_one">Saved Di.FM Tracks </h1>
    <h4>
      <span class="label label-info">NOTE: Tracks are not actually saved to the database in Sandbox. Refreshing the page will revert any changes.</span>
    </h4>


    <table id='di_fm_tracks_table' class='table table-striped table-condensed'>
      <thead>
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Channel</th>
        <th>Added</th>
      </tr>
      </thead>

      <tbody>
      <% @tracks.each do |track| %>
          <tr>
            <td><%= track.artist %></td>
            <td><%= track.song %></td>
            <td><%= track.channel %></td>
            <td><%= track.created_at.to_date %></td>
            <% if current_user && current_user.is_nika?  %>
                <td><%= link_to 'Show', track %></td>
                <td><%= link_to 'Edit', edit_track_path(track) %></td>
                <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

<hr class='with_padding'/>

<script type='text/javascript'>
    $(document).ready(function(){
        new app.Sandbox.CreateViewController();
    });
</script>